@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);
* {
    font-family: "Roboto", sans-serif;
    outline: 0px;
}

body {
    margin: 0px
}

.main::-webkit-scrollbar {
    display: none;
}

.title {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 900;
    margin: 100px 0px 0px 0px;
    transition: all 0.5s;
}

.loading {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    margin-top: 10px 0px 7px 0px;
    margin-bottom: 7px;
    transition: all 0.5s;
    opacity: 0;
}

.update[value] {
    appearance: none;
    width: 200px;
    height: 5px;
    transition: all 0.5s;
    opacity: 0;
}

.update[value]::-webkit-progress-bar {
    background-color: #535353;
    border-radius: 5px;
}

.update[value]::-webkit-progress-value {
    background-color: #2E77B0;
    border-radius: 5px;
}

.loading-form {
    display: block;
    text-align: center;
}

.error {
    color: #c74930;
    text-align: center;
    margin: 0px;
    transition: all 0.5s;
}

.info {
    color: white;
    text-align: center;
    margin: 0px;
    transition: all 0.5s;
    font-size: 14px;
}

.button-form {
    line-height: 25px;
}

.button {
    display: inline-grid;
    background: #3d3d3d;
    border-radius: 5px;
    border: 0;
    padding: 13px;
    color: white;
    font-size: 14px;
    transition: all 0.3s;
}

.button:hover {
    background: #535353;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.button:hover:active {
    box-shadow: none;
}

a {
    color: #2E77B0;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 3px;
    padding: 3px;
}

a:hover {
    color: #2196F3;
    transition: all 0.3s;
    background-color: #535353;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

a:hover:active {
    box-shadow: none;
}

.credit {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    font-size: 12px;
    color: #acacac;
    width: 100%;
}