/* COULEUR BLACK DE BASE        : #272727 */

/* COULEUR BLACK- DE BASE       : #363636 */

/* COULEUR BLACK-- DE BASE      : #414141 */


/* COULEUR BLACK BOUTON         : #3D3D3D */

/* COULEUR BLACK- BOUTON        : #535353 */

/* COULEUR RED- LOGOUT BOUTON   : #4A1D1D */

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
* {
    font-family: "Roboto", sans-serif;
    outline: 0px;
}

body {
    margin: 8px;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    font-size: 15px;
    color: white;
    background: #272727;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 0.1px;
}

.title-form {
    color: #f2f2f2;
    border-radius: 10px;
    background: #363636;
    font-size: 18px;
    padding: 0px;
}

.title {
    margin: 0px 20px 16px 20px;
    padding-top: 16px;
    font-size: 18px;
}

.body-form {
    color: white;
    border-radius: 10px;
    background: #414141;
    font-size: 14px;
    padding: 20px;
    margin-bottom: 0px;
}

.body-text {
    line-height: 25px;
    margin: 0px;
}

.body {
    font-size: 15px;
    color: #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    padding: 0px;
    line-height: 25px;
}

.ram-select {
    background-color: #3D3D3D;
    color: white;
    height: 25px;
    border-radius: 5px;
    transition: all 0.3s;
}

.ram-select:hover {
    background-color: #535353;
    color: white;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ram-select:hover:active {
    box-shadow: none;
}

.ram-select:focus {
    background-color: #535353;
    color: #f2f2f2;
    border-radius: 5px;
    transition: all 0.3s;
}

.keep-open {
    display: none;
}

.keep-open+label {
    position: relative;
    bottom: -2px;
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 15px;
    border-radius: 10px;
    background-color: #3D3D3D;
    transition: all 0.2s;
}

.keep-open:hover+label {
    background-color: #535353;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.keep-open:hover:active+label {
    box-shadow: none;
}

.keep-open:checked:hover+label {
    background-color: 2196F3;
}

.keep-open+label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: 11px;
    width: 11px;
    margin: 2px 0px 0px 2px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.2s;
}

.keep-open:checked+label {
    background-color: #2E77B0;
}

.keep-open:checked+label::before {
    margin-left: 17px;
}

.small-button {
    background-color: #3d3d3d;
    height: 25px;
    border-radius: 5px;
    border: 0;
    color: white;
    transition: all 0.3s;
}

.small-button:hover {
    background-color: #535353;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.small-button:hover:active {
    box-shadow: none;
}

a {
    color: #2E77B0;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 3px;
    padding: 3px;
}

a:hover {
    color: #2196F3;
    transition: all 0.3s;
    background-color: rgb(83, 83, 83);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a:hover:active {
    box-shadow: none;
}

body {
    background: white;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}